.ant-modal {
  width: 80% !important;
}

.experience__image__upload {
  width: 100%;
  height: 100%;
  display: flex;
}

.experience__image__upload > .ant-upload {
  width: 100%;
  height: 100%;
  flex: 1;
}

.ant-modal-body .ant-form-item {
  margin: 0;
}